@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,400;1,500;1,700;1,800&display=swap');

body {
    font-family: Poppins;
    background-color: #ccc;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    border: 2px solid red;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
}

.left {
    border: 2px solid blue;
    width: 50%;
    
}

.right {
    border: 2px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dziwny-znak-1,
.dziwny-znak-2,
.dziwny-znak-3 {
    color: rgb(3, 0, 197);
    font-weight: 800;
    font-size: 24px;
}

.dziwny-znak-1 {
    margin-right: -2px;
    margin-left: 14px;
    margin-top: 0;
}

.dziwny-znak-2 {
    margin: 0;
}

.dziwny-znak-3 {
    margin-left: -2px;
    margin-top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 80px;
    padding-top: 12px;
}

.welcome-back {
    font-size: 36px;
}

.welcome-back-div {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.register-p-hidden {
    display: none;
}

.register-p {
    font-weight: 700;
    font-size: 24px;
}

.dont-have-account {
    color: rgb(3, 0, 197);
    text-decoration: underline;
    cursor: pointer;
}